SUPABASE_URL=https://xxxx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGci...

SOLIS_API_ID=
SOLIS_API_SECRET=
SOLIS_API_URL=https://www.soliscloud.com:13333

JWT_SECRET=
JWT_REFRESH_SECRET=

PORT=3000
NODE_ENV=development
